@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?89gtxr');
  src:  url('../fonts/icomoon.eot?89gtxr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?89gtxr') format('truetype'),
    url('../fonts/icomoon.woff?89gtxr') format('woff'),
    url('../fonts/icomoon.svg?89gtxr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size:2.1em;
  margin:auto;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-instagram, .icon-social-linkedin, .icon-social-facebook{
    font-size: 1.5em;
    margin: 0 5px 0 0;
}

.wrap{
	margin:0 auto;
}


/* https://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
background-color:#fff;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}



/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ----- START MOBILE FIRST STYLES -------- */
html {background-color:none; font-size: 100%; box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color:none;
	line-height: 1.6em;
    font-family: 'Montserrat', sans-serif;
	color:#1a1a1a;
}
header,nav,article,aside,footer {
display: block;
width: 100%;}
header div.header-name {
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size:2em;}
/* ----- END MOBILE FIRST STYLES -------- */


	
/*NAV*/

a.name{
	color:#fff;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    flex-grow: 1;
    text-align: left;
    flex-basis: 0;
    padding-left: 10px;
    display: flex;
    vertical-align: middle;
}


.icon-v-logo{
	margin:0;
}

nav{
	display: flex;
    position: fixed;
    top: 0;
    height: 55px;
    transition-duration: 1s;
    align-items: center;
	background-color:rgb(62, 68, 68);
}

nav ul li{
    text-align: right;
    width: auto;
    height:auto;
    display: inline-block;
}

nav ul li a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: .9em;
    display: inline-block;
    font-family:'poppins', sans-serif;
}


ul.navigation {
    flex-grow: 1;
    text-align: right;
    flex-basis: 0;
    padding-right: 10px;
}


footer{
	display: flex;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #fff;
	width:100%;
}

b.copyright{
	color:#1a1a1a;
    font-family:'poppins', sans-serif;
	font-size:13px;
	width:400px;
	font-weight:500;
	text-transform:uppercase;
	}
	

b.sub{
	text-align: center;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #1a1a1a;
	margin-top:10px;
}	
	
article{
    display: flex;
    background-color: transparent;
}		

img {
    height: auto;
    max-width: 100%;
}

header{
	margin-top: 55px;
    height: 300px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}


.header-text{	
	width: 80%;
    margin-top: 50px;	
}

header h1{
    text-align: left;
    text-transform: uppercase;
    font-family: 'poppins', sans-serif;
    font-size: 2.5em;
    color: #FFE164;
    font-weight: 900;
}

header p{
    text-align: left;
    text-transform: none;
    font-family: 'spectral', sans-serif;
    font-size: .9em;
    color: black;
    font-weight: 300;
    width: auto;
    margin: 15px 0;
	}


button{
	color: #1a1a1a;
    text-align: center;
    font-size: 12px;
    font-family:'poppins', sans-serif;
    width: 135px;
    height: 35px;
    background-color: #FFE164;
    cursor: pointer !important;
    border: none;
    letter-spacing: 0;
    margin-top: 20px;
    font-weight: 300;
}


.social{
	display:none;
}


.download-bot{
    align-self: center;
    background-color: transparent;
    right:0;
    display: flex;
    flex-direction: row;
    margin-bottom:0;
}

.social-bot{
	background-color: transparent;
    display: block;
    margin-bottom: 10px;
}


b{ 
    font-family: 'poppins', sans-serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
    margin: 15px auto;
    font-weight: 300;
    color: #1a1a1a;
}

a{
	color:#FFE164;
	text-decoration:none;	
}


p{
    font-family:'Spectral', serif;
    font-size: .9em;
    text-align: left;
    margin: 15px 0;
    color: #1a1a1a;
	font-weight:500;
}


h1.about{
	text-align: left;
    text-transform: none;
    font-family:'Spectral', sans-serif;
    font-size: 1.6em;
    color: #1a1a1a;
    font-weight: 500;
}
/*
h1.about::before{
    content: '';
    position: absolute;
    width: 102px;
    height: 2px;
    background: #a6defd;
    left: 0;
    bottom: 0;
}*/


h3{
	margin: 0 0 35px;
    text-align: center;
    text-transform: none;
    font-size: 1.6em;
    color: #1a1a1a;
    font-weight: 500;
    font-family:'spectral', sans-serif;
}

#contact p{
    font-family:'Montserrat', sans-serif;
	font-size:1em;
	text-align: center;
	margin:auto;
	color:#fff;	
}


form.contact {
    text-align: left;
    margin: 40px auto 40px auto;
}



b.icons a{
	text-align:center;
	color:#fff;
	font-size:.8em;
	font-family:'my-font';
}



#resume{
	color: white;
    height: auto;
    padding: 20px;
	width:100%;

}

article#work{
	margin: 90px 0;
	display:flex;
	align-items: center;
  	justify-content: center;
	flex-direction:column;
}


article#work p{
    font-family:'poppins', sans-serif;
    font-size: 13px;
    text-align: center;
	text-transform:uppercase;
    width:85%;
    margin: 15px auto;
    font-weight: 500;
    color: #1a1a1a;	
}

h2.work{
    text-align: center;
    font-size:1.6em;
    font-weight: 500;
    color: #1a1a1a;
    font-family: 'spectral', sans-serif;
}


.about-left{
background-repeat: no-repeat;
background-size:contain;
background-position:center;
width:100%;
text-align:center;
margin-top: 55px;
border:none;
}

.about-right{
margin:0 auto;
padding: 100px 0;
width:85%;
text-align:left;
}


.about-right p{
    font-family: 'spectral', sans-serif;
    font-size: 1em;
	font-weight:500;
	margin: 55px auto;
    text-align: left;
}



#thumbnails{
	display: flex;
  	-webkit-flex-direction: row;
  	flex-direction: row;
  	flex-wrap:       wrap;
	justify-content:center;
}

#thumbnail{
 flex-grow: 0;
 flex-shrink: 1;
 margin-top: -7px;	
		
}

#hire{
	color: white;
    background-color:#fff;
	flex-grow:1;
	flex-shrink:0;
	display:flex;
	align-items: center;
  	justify-content: center;
	flex-direction:column;
}

.hire-me{
	color: white;
    background-color: transparent;
    height: auto;
    width: 90%;
	text-align: center;

}

#contact{
	background-color:#fff;
	flex-grow:1;
	flex-shrink:0;
	flex-basis:1px;
	display:flex;
	align-items: center;
  	justify-content: center;
}

.center500{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}



#tswname {
	display: block;
    border: 0;
    outline: 0;
    background: #fff;
    border: 1px solid #cccccc;
    padding: 15px;
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
    border-radius: 2px;
	text-align:left;
	font-size:.8em;
}

#tswemail{
	display: block;
    border: 0;
    outline: 0;
    background: #fff;
    border: 1px solid #cccccc;
	padding: 15px;
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
    border-radius: 2px;
	text-align:left;
	font-size:.8em;
}

#tswcomments{
	display: block;
    border: 0;
    outline: 0;
    background: #fff;
    border: 1px solid #cccccc;
	padding: 5px 15px;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    border-radius: 2px;
	text-align:left;
	font-size:13px;
    font-family:'poppins', sans-serif;
}


.resume{
	padding:15px;
}
	
label{
    font-family:'poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size:13px;
    color: #1a1a1a;
	
}

input{
	color: #1a1a1a;
    text-align: center;
    font-size: 12px;
    font-family:'poppins', sans-serif;
    width: 125px;
    height: 35px;
    cursor: pointer !important;
    background-color: #FFE164;
	border:none;
}


article#thumbnails ul {
	list-style: none;
    padding:0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

article#thumbnails li{
 	display: inline-block;
    margin-top: 4px;
    vertical-align: top;
    height: 250px;
}

article#about{
display:none;
}

article#icons{
  display: -webkit-inline-flex; /* Safari */
  display:flex;
  -webkit-flex-direction:column;
  flex-direction: column;
  flex-wrap: no-wrap;
  background-color:transparent;
  margin: 30px auto;
  width: 95%;
}

	
#column {
  margin: 30px 0;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  display:flex;
}	
	
#icon {
    width: 240px;
    height: auto;
    line-height: normal;
    display: flex;
    flex-direction: column;
}		
	

.fa {
	color:#1a1a1a;
}


#contact-info{
	
	display: block;
    margin-top: 90px;
	background-color: #f5f6f7;
    border: 15px solid #fff;
	
}


i.icons-small {
	font-size: .9em;
    color: #fff;
    margin: 0 15px 0 0;
    font-family: 'icons';
}

.divider{
    height: 2px;
    margin-top: 55px;
    margin-bottom: 55px;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    color: #000;
	width:600px;
	}




.content-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 60px 0;
	background: #f5f6f7;
    border: 15px solid #fff;
}


.intro{
	max-width: 85%;
	margin: 0 auto;
}














   /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
.name{
	display:block;
	float:left;
}



a.name{
color: #fff;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 700;
    font-family:'Montserrat', sans-serif;
    flex-grow: 1;
    text-align: center;
    flex-basis: 0;
	padding-left:0;
}


.icon-v-logo{
	margin:0 auto;
}


nav{
	display: flex;
	position:fixed;
	top:0;
	height:70px;
	background-color:transparent;
	transition-duration: 1s;
	align-items: center;
}

nav ul li{
    text-align: right;
    width: auto;
    height:auto;
    display: inline-block;
}

nav ul li a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: .9em;
    display: inline-block;
    font-family:'poppins', sans-serif;
}


ul.navigation {
flex-grow: 1;
    text-align: right;
    flex-basis: 0;
    padding-right: 25px;
}



#menu {display: none !important;}
	
	
	
header{
	margin-top:70px;
	height:500px;
	text-align:center;
	position:relative;
	display:flex;
	align-items: center;
  	justify-content: center;
	flex-direction:column;
	background-color:transparent;
}


.header-text{	
    width: auto;
    margin-top: 50px;
}


header h1{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'poppins', sans-serif;
    font-size: 7em;
    color: #FFE164;
    font-weight: 900;
}

header p{
text-align: left;
    text-transform: none;
    font-family: 'spectral', sans-serif;
    font-size: 1.1em;
    color: black;
    font-weight: 300;
    width: 400px;
    margin: 50px  5px 0;
	}
	
	

.social{
background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 25px;
}

.social a{
height:20px;
	
}	

b.social-text{
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: .8em;
    width: auto;
    text-align: left;
	}

button{
	color: #1a1a1a;
    text-align: center;
    font-size: 12px;
    font-family:'poppins', sans-serif;
    width: 135px;
    height: 35px;
    background-color: #FFE164;
    cursor: pointer !important;
    border: none;
    letter-spacing: 0;
    margin-top: 20px;
    font-weight: 300;
}

.download-bot{
display:none;
}

.social-bot{
display:none;
}


h1.about{
	text-align: left;
    text-transform: none;
    font-family:'Spectral', serif;
    font-size: 2em;
	margin-bottom:35px;
    color: #1a1a1a;
    font-weight: 300;
}

h2.work{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    color: #1a1a1a;
    font-family: 'spectral', sans-serif;
}


article#work{
	height:175px;
	background-color:transparent;
	display:flex;
	align-items: center;
  	justify-content: center;
	flex-direction:column;
}



article#work p{
    font-family:'poppins', sans-serif;
    font-size: 13px;
    text-align: center;
    width:60%;
    margin: 15px auto;
    font-weight: 500;
    color: #1a1a1a;	
}

#thumbnails{
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
  max-width: 820px;
  margin: 0 auto;
}

#thumbnail{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 165px; 
  text-align:center;	
/*  padding: .2vw;	*/
}

#thumbnail img { 
  max-width: 100%; 
  height: auto; 
}



article#about{ 
  display: -webkit-inline-flex; /* Safari */
  display:flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:transparent;
  margin: 150px auto;
  width: 85%;

}


article#icons{
  display: -webkit-inline-flex; /* Safari */
  display:flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:transparent;
  margin: 100px auto;
  width: 85%;

}


#contact{
	background-color:#fff;
	flex-grow:1;
	flex-shrink:0;
	flex-basis:1px;
	display:flex;
	align-items: center;
  	justify-content: center;
}



.about-left{
background-repeat: no-repeat;
background-size:contain;
background-position:center;
width:100%;
text-align:center;
margin-top: 70px;
border:15px solid #fff;
}

.about-right{
margin:0 auto;
padding: 100px 0;
width:500px;
text-align:left;
}


.about-right p{
    font-family: 'spectral', sans-serif;
    font-size: 1em;
	font-weight:500;
	margin: 55px auto;
    text-align: left;
}


.center500{
    width: 500px;
    margin: 0 auto;
    text-align: center;
	padding:100px 0;
}




#tswname {
	display: block;
    border: 0;
    outline: 0;
    background: #fff;
    border: 1px solid #cccccc;
    padding: 15px;
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
    border-radius: 2px;
	text-align:left;
	font-size:.8em;
}

#tswemail{
	display: block;
    border: 0;
    outline: 0;
    background: #fff;
    border: 1px solid #cccccc;
	padding: 15px;
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
    border-radius: 2px;
	text-align:left;
	font-size:.8em;
}

#tswcomments{
	display: block;
    border: 0;
    outline: 0;
    background: #fff;
    border: 1px solid #cccccc;
	padding: 5px 15px;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    border-radius: 2px;
	text-align:left;
	font-size:13px;
    font-family:'poppins', sans-serif;
}


i.icons-small {
	font-size: .9em;
    color: #fff;
    margin: 0 15px 0 0;
    font-family: 'icons';
}



    }














@media only screen and (min-width : 1200px) {

/*NAV*/
.name{
	display:block;
	float:left;
}



a.name{
color: #fff;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 700;
    font-family:'Montserrat', sans-serif;
    flex-grow: 1;
    text-align: center;
    flex-basis: 0;
	padding-left:0;
	}
	
	
.icon-v-logo{
	margin:0 auto;
}

nav{
	display: flex;
	position:fixed;
	top:0;
	height:70px;
	background-color:transparent;
	transition-duration: 1s;
	align-items: center;
	 z-index: 99;
}

nav ul li{
    text-align: right;
    width: auto;
    height:auto;
    display: inline-block;
}

nav ul li a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: .9em;
    display: inline-block;
    font-family:'poppins', sans-serif;
}


ul.navigation {
    flex-grow: 1;
    text-align: right;
    flex-basis: 0;
    padding-right: 25px;
}


footer{
	display: flex;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #fff;
	width:100%;
}

b.copyright{
	color:#1a1a1a;
	font-size:13px;
	font-family:'poppins', sans-serif;
	width:400px;
	font-weight:500;
	text-transform:uppercase;
	}
	
	
b.sub{
	text-align: center;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #1a1a1a;
	margin-top:10px;
}	
	
article{
    display: flex;
    background-color: transparent;
}		

img {
    height: auto;
    max-width: 100%;
}

header{
	margin-top:70px;
	height:600px;
	text-align:center;
	position:relative;
	display:flex;
	align-items: center;
  	justify-content: center;
	flex-direction:column;
	background-color:transparent;
}


.header-text{	
width:auto;	
margin-top:50px;
}




header h1{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'poppins', sans-serif;
    font-size: 9em;
    color: #FFE164;
    font-weight: 900;
}

header p{
    text-align: left;
    text-transform: none;
    font-family: 'spectral', sans-serif;
    font-size: 1.1em;
    color: black;
    font-weight: 300;
    width: 400px;
    margin: 50px  5px 0;
	}



.social{

background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 25px;
}

.social a{
height:auto;
	
}	

b.social-text{
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: .8em;
    width: auto;
    text-align: left;
	}



.download-bot{
display:none;
}

.social-bot{
display:none;
}


p{
    font-family:'Spectral', serif;
    font-size: .9em;
    text-align: left;
	margin: 0 0 15px 0;
	color:#1a1a1a;
	font-weight: 500;
}





h1.about{
	text-align:left;
    text-transform: none;
    font-family:'Spectral', serif;
    font-size: 3em;
    color: #1a1a1a;
    font-weight: 300;
	margin-bottom: 35px;
    font-size: 2.5em;
    line-height: 1.2;
}


h3{
	margin: 0 0 35px;
    text-align: center;
    text-transform: none;
    font-size: 2em;
    color: #1a1a1a;
    font-weight: 300;
    font-family:'spectral', sans-serif;
}


#contact p{
    font-family:'Montserrat', sans-serif;
	font-size:1em;
	text-align: center;
	margin:auto;
	color:#fff;	
}


button{
	color: #1a1a1a;
    text-align: center;
    font-size:12px;
    font-family:'poppins', sans-serif;
    width: 135px;
    height: 35px;
    background-color: #FFE164;
    cursor: pointer !important;
    border: none;
    letter-spacing: 0;
    margin-top: 20px;
    font-weight: 300;
}


form.contact {
    text-align: left;
    margin: 40px auto 40px auto;
}



b.icons a{
	text-align:center;
	color:#fff;
	font-size:.8em;
	font-family:'my-font';
}



#resume{
	color: white;
    height: auto;
    padding: 20px;

}

article#work{
	height:375px;
	background-color:transparent;
	display:flex;
	align-items: center;
  	justify-content: center;
	margin:100px auto 0;
	flex-direction:column;
}


article#work p{
    font-family: 'poppins', sans-serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
    margin: 15px auto;
    font-weight: 300;
    color: #1a1a1a;
}

h2.work{
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    color: #1a1a1a;
    font-family: 'spectral', sans-serif;
}




#thumbnails{
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
  box-sizing:border-box;
  max-width: 999px;
  margin: 0 auto 150px;
}

#thumbnail{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 250px; 
  text-align:center;	
  padding: 1vw;	
   overflow: hidden;
}


#hire{
	color: white;
    background-color:#fff;
	flex-grow:1;
	flex-shrink:0;
	flex-basis: 1px;
	display:flex;
	align-items: center;
  	justify-content: center;
	flex-direction:row;
}

.hire-me{
	color: white;
    background-color: transparent;
    height: auto;
    width: 60%;
	text-align: center;

}

#contact{
	background-color:#fff;
	flex-grow:1;
	flex-shrink:0;
	flex-basis:1px;
	display:flex;
	align-items: center;
  	justify-content: center;
}

.center500{
    width: 500px;
    margin: 0 auto;
    text-align: center;
	padding:100px 0;
}

.resume{
	padding:15px;
}
	

#tswname {
	display: block;
    border: 0;
    outline: 0;
    background: #fff;
    border: 1px solid #cccccc;
    padding: 15px;
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
    border-radius: 2px;
	text-align:left;
	font-size:.8em;
}

#tswemail{
	display: block;
    border: 0;
    outline: 0;
    background: #fff;
    border: 1px solid #cccccc;
	padding: 15px;
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
    border-radius: 2px;
	text-align:left;
	font-size:.8em;
}

#tswcomments{
	display: block;
    border: 0;
    outline: 0;
    background: #fff;
    border: 1px solid #cccccc;
	padding: 5px 15px;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    border-radius: 2px;
	text-align:left;
	font-size:13px;
    font-family:'poppins', sans-serif;
}

label{
    font-family:'poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size:13px;
    color: #1a1a1a;
	
}

input{
	color: #1a1a1a;
    text-align: center;
    font-size: 12px;
    font-family:'poppins', sans-serif;
    width: 125px;
    height: 35px;
    cursor: pointer !important;
    background-color: #FFE164;
	border:none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: .5; /* Firefox */
	text-transform:none;
}
	


article#about{
  display: -webkit-inline-flex; /* Safari */
  display:flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:transparent;
  margin: 100px auto;
  width: 65%;

}




article#icons{
display: -webkit-inline-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 65%;
    margin-top: -6rem;
    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.09) 2px 6px 18px 1px;
    border-radius: 15px;
}


	
#column {
	margin: 10px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}	
	
#icon {
	width: 240px;
    height: auto;
    line-height: normal;
    display: flex;
    flex-direction: column;
}		
	


#contact-info{
	
  display:flex;	
  flex-direction: column;
  flex-wrap: no-wrap;
  width:100%;
  margin:0 auto;
  background-color:#f5f6f7;
  border:15px solid #fff;
	
}



i.icons-small {
	font-size: .9em;
    color: #fff;
    margin: 0 15px 0 0;
    font-family: 'icons';
}





#wrap{
background-color:#fff;
padding:1px;
}



.content-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 60px 0;
	background: #f5f6f7;
    border: 15px solid #fff;
}

.intro{
	max-width: 700px;
	margin: 0 auto;
}




.about-left{
background-repeat: no-repeat;
background-size:contain;
background-position:center;
width:100%;
text-align:center;
margin-top: 70px;
border:15px solid #fff;
}

.about-right{
margin:0 auto;
padding: 100px 0;
width:500px;
text-align:left;
}


.about-right p{
    font-family: 'spectral', sans-serif;
    font-size: 1em;
	font-weight:500;
	margin: 55px auto;
    text-align: left;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


	@media print {
* {
background: transparent !important;
color: #000 !important;
box-shadow: none !important;
text-shadow: none !important;
}
